/*general cointainer's style*/
.sus{
    margin-top: 0px;
    height: 80%;
    background: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/11/steam.jpg) 
    no-repeat;
    background-size: 100%;

}
/*info cointainer's style*/
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*information's style*/
.Hello{
    display: flex;
    justify-content: center;
    align-items: baseline;
    opacity: 1;
    padding: 5%;
    min-width: fit-content;
    min-height: fit-content;
    width: 40em;
    height: 20em;
    color: white;
    background-color: rgba(23, 26, 33,0.9) ;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    
}
/*information hover's  style*/
.Hello:hover{
    backdrop-filter: blur(20px);
    transform: scale(1.1,1.1);
    transition-duration: 2s;
}
