.layout{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-around;
}