/*Card's general style*/
.figureCard{
    display: flex;
    flex-direction: column;
    gap: 3;
    flex-wrap: wrap;
    margin: 0em 10px 0px 10px;
    position: relative;
    cursor: pointer;
    width: 170px;
    line-height: 15px;
    height:fit-content;
    min-height: min-content;
    background:linear-gradient(0.1turn ,#2a475e,#66c0f4); 
    text-align: left;
}
/*Card's hover style*/
.figureCard:hover{
    margin: 40px;
    transform: scale(1.1, 1.1);
    transition-duration: 1.5s;
    
    
}
/*image card's style*/
.imageCard{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 150px;
    margin: 0%;
}
/*text card's style*/
.txtCard{
    
    justify-content: center;
    color: white;
    background: linear-gradient(0.2turn, rgb(27, 40, 56),rgb(42, 71, 94));
}
/*price card's style*/
.price{
    background-color: #2a475e;
    margin-left: 2%;
    margin-top: 5px;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 12px;
    padding: 1%;
}
/*categorie's style*/
.categories{
    background-color: #2a475e;
    margin: 2%;
    width: fit-content;
    height: fit-content;
    color: #66c0f4;
    font-size: 12px;
    padding: 1%;
}

/*name product's style*/
.nameCard{
    color: #66c0f4;
    width: fit-content;
    height: fit-content;
    margin: 2%;
    background-color: #2a475e;
}
.nl{
    margin: 0px;
}