/*general style for nav tag*/
nav{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: #171d25;
    height: 80px;
    font-family:"Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}
/*nav element's style*/
.liNav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    
    
}
/*nav element's hover style*/
.liNav:hover{
    color:  white;
    border-bottom: white 3px solid;
}
/*list styles*/
.ulNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    width: fit-content;
    gap: 40px;
}

.NavLink{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #dcdedf;
    font-size: 16px;
    font-weight: 600;
    
    margin-top: 60px;
}
/*logo nav's style*/
nav img{
    margin-top: -55px;
    margin-left: 20px;
}
/*Log in and sign in style*/
.accessUser{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/*install button style*/
.accessUser .SpInstalar{
    display: inline-block;
    padding: 0px 9px 0px 35px;
    font-size: 12px;
    background: #5c7e10 no-repeat url( 'https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1' );
    background-position: 10px 5px;
    width: fit-content;
    height: 20px;
    text-decoration: none;
    color: #e5e4dc;
}
.imageNav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    width: 20px;
    height: 20px;
}
/*install and register coinainer style*/
.globalin{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    color: #dcdedf;
}
/*login and sign in cointainer*/
.starts{
    margin-top: 1em;
    font-size: 12px;
    height: fit-content;
}
/*login's style*/
.globalin .Login{
    margin-left: 10px;
    margin-right: 5px;
}
/*sign in style*/
.globalin .Signin{
    margin-left: 6px;
}
/*logins' hover style*/
.globalin .Login:hover{
    color: white;
}
