/*DetailProduct's general style*/
.productDetail{
    position: absolute;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: #dcdedf;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
    height: 500px;
    z-index: 5;
    color: black;
}