/*  Footer's general style*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    color: white;
    
}
/* footer links style */
.footer a{
    margin-left: 20px; /* left margin */
    margin-right: 20px; /* right margin */
    flex-direction: row; /* row direction */
    justify-content: space-between; /* space between */
    color: #67707B; /* text color */
    font-family: "Motiva Sans", Sans-serif; /* font family */
    font-size: large; /* font size */
    font-weight: 900; /* font weight */
    margin-bottom: 20px; /* bottom margin */
}
.footer footer img{
    display: flex;
    justify-content: center;
    align-items: center;
}
